@{
    ViewData["Title"] = "Index";
}

<div class="panel panel-success">
    <div class="panel-heading panel-head">
        Pesquisar Repositórios do GitHUB
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Index", "Search", FormMethod.Post))
        {
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-lg-4">
                    @Html.Editor("Texto", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <br />
                    @Html.CheckBox("C") <span> C#&nbsp;&nbsp; </span>
                    @Html.CheckBox("Java") <span> Java&nbsp;&nbsp; </span>
                    @Html.CheckBox("JavaScript") <span> JavaScript&nbsp;&nbsp; </span>
                    @Html.CheckBox("Python") <span> Python&nbsp;&nbsp; </span>
                    @Html.CheckBox("Go") <span> Go </span>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <br />
                <div class="col-lg-4">
                    <input type="submit" value="Pesquisar" class="btn btn-success" />
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        }
    </div>
</div>

