@model SearchRepositoriesGitHUB.WebApp.Models.SearchModel

@{
    ViewData["Title"] = "Repositorios OctoKit";
}

<div class="panel panel-success">
    <div class="panel-heading panel-head">
        Pesquisar repositórios
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("RepositoriosOctoKit", "Search", FormMethod.Get))
        {
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-lg-3">
                @Html.Editor("filtro", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-lg-2">
                <input type="submit" value="Pesquisar" class="btn btn-success" />
            </div>
        </div>
        }
    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading panel-head">
        <h2>Repositórios</h2>
    </div>

    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Nome")
                    </th>
                    <th>
                        @Html.DisplayName("Descrição")
                    </th>
                    <th>
                        @Html.DisplayName("Linguagem")
                    </th>
                    <th>
                        @Html.DisplayName("Repositório")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DataOctoKit)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Language)
                    </td>
                    <td>
                        <a href="@item.HtmlUrl" target="_blank">@item.HtmlUrl</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>
@*<div>
        <ul class="pagination">
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a  asp-route-currentpage="@i" class="page-link">@i</a>
                </li>
            }
        </ul>
    </div>*@

<div class="row">
    <div class="col-lg-4">
        <ul class="pagination">
            <li class="page-item @(!Model.ShowFirst? "disabled":"")">
                @Html.ActionLink("Primeira", "RepositoriosOctoKit", "Search", new { currentpage = 1, filtro = Model.Filtro })
            </li>
            <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
                @Html.ActionLink("Anterior", "RepositoriosOctoKit", "Search", new { currentpage = Model.CurrentPage - 1, filtro = Model.Filtro })
            </li>
            <li class="page-item  @(!Model.ShowNext? "disabled":"")">
                @Html.ActionLink("Próxima", "RepositoriosOctoKit", "Search", new { currentpage = Model.CurrentPage + 1, filtro = Model.Filtro })
            </li>
            <li class="page-item  @(!Model.ShowLast? "disabled":"")">
                @Html.ActionLink("Última", "RepositoriosOctoKit", "Search", new { currentpage = Model.TotalPages, filtro = Model.Filtro })
            </li>
        </ul>
    </div>
    <div class="col-lg-4 align-bottom">
        <br />
        <h4>Página @Model.CurrentPage de @Model.TotalPages</h4>
    </div>
</div>